export(
pcf.kernesti,
pcf.kernesti.der,
pcf.kernesti.slice,
pcf.kernesti.marg,
pcf.kern.quan,
kernesti.regr,
kernesti.der,
kernesti.quantile,
ma,
pcf.loclin,
loclin,
pcf.additive,
additive,
additive.stage,
pcf.single.index,
single.index,
linear,
linear.quan,
pp.regression,
emp.distribu,
emp.quantile,
quantil.emp,
copula.trans
)

import(denpro)

importFrom("stats", "cov", "optim", "qnorm", "quantile", "runif","var")






